<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>404 - Page Not Found</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/style.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@phosphor-icons/web@2.1.2/src/regular/style.css"
    />
  </head>

  <body class="antialiased">
    {{ template "navbar" . }}

    <main>
      <h1 class="text-[200px] text-center mr-10">404</h1>
    </main>

    {{ template "themeToggle" . }}
  </body>
</html>
