<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blog</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body class="antialiased">
    {{ template "sidebar" . }}

    <div class="p-6">
      <button onclick="openNav()" class="text-2xl font-bold font-sans">
        ☰
      </button>
    </div>

    <article class="kindle-container">
      <header class="mb-6">
        <h1 class="text-5xl mb-4 leading-tight">Blog</h1>
      </header>
      <div
        class="mb-12 pb-6 border-b border-[var(--border-color)] flex flex-wrap gap-2"
      >
        <span
          class="filter-tag hover:bg-gray-300 active"
          onclick="filterPosts('All', this)"
          >ALL</span
        >

        {{ range .Tags }}
        <span
          class="filter-tag hover:bg-gray-300 hover:text-[#1a1a1a]"
          onclick="filterPosts('{{ . }}', this)"
          style="text-transform: uppercase"
          >{{ . }}</span
        >
        {{ end }}
      </div>

      <section id="post-list" class="space-y-12">
        {{ range .Posts }}

        <div
          class="post-card group cursor-pointer"
          data-tags="{{ range .Tags }}{{ . }},{{ end }}"
        >
          <a href="{{ .Link }}" style="text-decoration: none; color: inherit">
            <h2 class="text-3xl mb-1 group-hover:underline">{{ .Title }}</h2>
            <div class="meta">{{ .Date }}</div>
          </a>
        </div>

        {{ end }}
      </section>
    </article>

    <script>
      function filterPosts(tag, clickedElement) {
        const allTagButtons = document.querySelectorAll(".filter-tag");
        allTagButtons.forEach((button) => button.classList.remove("active"));

        if (clickedElement) {
          clickedElement.classList.add("active");
        }

        const searchTag = tag.toUpperCase();
        const posts = document.querySelectorAll(".post-card");

        posts.forEach((post) => {
          const tags = post.getAttribute("data-tags").toUpperCase();

          if (searchTag === "ALL" || tags.includes(searchTag)) {
            post.style.display = "block";
          } else {
            post.style.display = "none";
          }
        });
      }
    </script>

    {{ template "themeToggle" . }}
  </body>
</html>
